<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <title>Document</title>
</head>
<body>
    <h1>This is an INDEX page</h1>
    <button>Send message</button>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io()

        document.querySelector("button").addEventListener('click', () => {
            socket.emit('some-event')
        })

    </script>
</body>
</html>
